*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 100%;
    --cor-border-geral: #212121;
    --cor-padrao-fonte: #f9a825;
    --font-padrao: helvetica;
    --font-cor-titulo: #E53935;
}

.flex {
    display: flex;
}


header, main, footer {
    width: 90%;
    margin: auto;
}

header#topo {
    height: 40px;
    background-color: black;
    color: var(--font-cor-titulo);
    font-family: var(--font-padrao);
}

header#topo > h1 {
    width: 50%;
    align-items: center;
    justify-content: center;
}

nav#home {
    width: 50%; 
    justify-content: flex-end;      
    align-items: center;
    font-size: 1,2rem;     
    
    color: white;
    padding: 10px;
}

#primeiro {
    color: white;
    padding: 15px;
    text-decoration: none;
}

#segundo{
    color: white;
    text-decoration: none;
    padding: 15px;
  }

  #segundo:hover {
      background-color: blueviolet;
      transition: 5s;
 }

 #terceiro {
     color: white;
     padding: 15px;
     border: 1px solid black;
     border-radius: 100px;
     background-color: goldenrod;
 }

 main {
     height: 700px;
      }

 fieldset {
    margin: 30px auto;
    padding: 5px;
 }

 #blocod, #blocoe {
     width: 50%;
     height: 700px;
     background-color: grey;
     border: 1px solid black;
     font-family: var(--font-padrao);
 }

 #blocod > p {
     font-size: 22px;
     justify-content: center;
     align-items: center;
     font-family: var(--font-padrao);
     color: var(--cor-padrao-fonte);
     margin-top: 300px;
 }

 #em {
    font-size: 25px; 
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    color: var(--cor-padrao-fonte);
 }
 input#email {
    height: 60px; 
    width: 600px;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    }

    input#enviar {
        margin-top: 300px;
        padding: 2px;
        height: 60px; 
        width: 50px;
        border: 1px solid black;
    }

    footer {
        height: 80px;
        background-color: black;
        border: 1px solid blue;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: var(--cor-padrao-fonte);
        font-family: var(--font-padrao);
    }







